/*
Write your global styles here, in PostCSS syntax
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@import '@fontsource/fira-mono';
*/

:root {
	font-family: 'Catamaran', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 1);
	--text-color: #000000;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	min-height: 100vh;
	font-family: 'Catamaran';
	font-size: calc(14px + 0.25vw);
	margin: 0;
	background: linear-gradient(180deg, var(--pure-white) 0%, #faf0dd 45%, #f7e6c6 100%);
	background-size: cover;
	background-repeat: no-repeat;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

a {
	@apply transition duration-300 ease-in-out;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

ul.no_style {
	list-style: none;
	padding: 0.25em 1em 2em 0;
}
ul.no_style li {
	padding-left: 2em;
	padding-bottom: 0.75em;
	position: relative;
}
ul.no_style li:before {
	content: '';
	width: 21px;
	transform: rotate(-45deg);
	border-left: 4px solid #339d40;
	border-bottom: 4px solid #339d40;
	display: inline-block;
	position: absolute;
	margin-left: -1.75em;
	top: 2px;
	padding-bottom: 0.5em;
}

.main {
	@apply relative z-50 w-full max-w-screen-lg px-12 mx-auto -mt-12;
}

.edge:after {
	content: '';
	position: absolute;
	left: 0px;
	top: 0;
	width: 100%;
	height: 30px;
	margin-top: -29px;
	background-color: inherit;
	-webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
	clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

h1,
.h1 {
	font-family: 'Praise';
	margin-bottom: 2vw;
}

h1 {
	@apply relative break-words inline-block text-center w-full text-5xl lg:text-7xl 2xl:text-8xl;
}

.no_underline:after {
	content: '';
	background-color: #9e7548;
	bottom: -8%;
	content: '';
	display: block;
	height: 4px;
	position: absolute;
	width: 38%;
	left: 0;
	right: 0;
	margin: auto;
}

h2 {
	@apply relative font-semibold text-no_brown text-lg lg:text-xl 2xl:text-2xl break-words pb-2 text-center lg:px-8;
}

h3 {
	@apply relative font-bold tracking-wider text-sm uppercase break-words text-no_brown pb-3;
}

.highlight {
	border-left: 5px solid #f92200;
	margin-top: 2em;
	margin-bottom: 3em;
	padding-left: 1em;
}

.hero_height {
	width: 100%;
	height: 80vw;
	max-height: 80vh;
}
