/*
Write your global styles here, in PostCSS syntax
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@import '@fontsource/fira-mono';
*/

:root {
	font-family: 'Catamaran', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 1);
	--text-color: #000000;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	min-height: 100vh;
	font-family: 'Catamaran';
	font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
	/* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
	margin: 0;
	background: #fcf1e0;
	/*background: linear-gradient(180deg, var(--pure-white) 0%, #faf0dd 45%, #f7e6c6 100%);
	background-size: cover;
	background-repeat: no-repeat;*/
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

a {
	@apply transition duration-300 ease-in-out;
}

main a {
	text-decoration: 2px dotted underline #327194;
}

main a {
	@apply text-no_darkblue-lighter hover:text-no_darkblue font-bold focus:ring-0 focus:outline-none focus:text-no_darkblue-lighter;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

ul.no_style {
	list-style: none;
	padding: 0.25em 1em 2em 0;
}
ul.no_style li {
	padding-left: 2em;
	padding-bottom: 0.75em;
	position: relative;
}
ul.no_style li:before {
	content: '';
	width: 21px;
	transform: rotate(-45deg);
	border-left: 4px solid #339d40;
	border-bottom: 4px solid #339d40;
	display: inline-block;
	position: absolute;
	margin-left: -1.75em;
	top: 2px;
	padding-bottom: 0.5em;
}

.hero_height {
	width: 100%;
	height: 80vw;
	max-height: 80vh;
}

.main {
	@apply relative z-50 w-full max-w-screen-lg px-4 md:px-8 lg:px-12 mx-auto -mt-20;
}

.edge:after {
	content: '';
	position: absolute;
	left: 0px;
	top: 0;
	width: 100%;
	height: 30px;
	margin-top: -29px;
	background-color: inherit;
	-webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
	clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

h1,
.h1 {
	font-family: 'Bad Script';
}

.bad-script {
	font-family: 'Bad Script';
}

h1 {
	@apply block break-words text-center fontsize_xl;
}

h2 {
	@apply font-semibold text-no_brown break-words fontsize_md;
}

h3 {
	@apply font-bold tracking-wider text-base uppercase break-words text-no_darkblue pb-3 fontsize_sm;
}

/* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/

.fontsize_xl {
	font-size: calc(26px + (65 - 26) * ((100vw - 300px) / (1600 - 300)));
}

.fontsize_lg {
	font-size: calc(18px + (40 - 18) * ((100vw - 300px) / (1600 - 300)));
}

.fontsize_md {
	font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));
}

.fontsize_sm {
	font-size: calc(11px + (16 - 10) * ((100vw - 300px) / (1600 - 300)));
	line-height: calc(18px + (16 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.no_underline:after {
	content: '';
	background-color: #9e7548;
	bottom: -8%;
	content: '';
	display: block;
	height: 4px;
	position: absolute;
	width: 38%;
	left: 0;
	right: 0;
	margin: auto;
}

.divider {
	background-image: url('underline_pattern.svg');
}

.custom_arrow {
	/* ugly as hell */
	background-color: #1f3947 !important;
	min-width: 3em !important;
	min-height: 3em !important;
	width: 5vw !important;
	height: 5vw !important;
	max-width: 4em !important;
	max-height: 4em !important;
	border-radius: 0 !important;
	opacity: 1 !important;
	color: #fff !important;
	transition: all 0.25s;
}

.custom_arrow:hover {
	color: #327194 !important;
}

.custom_arrow_prev {
	left: 0 !important;
}

.custom_arrow_next {
	right: 0 !important;
}
